*{
    /* Removes extra spacing from all elements on the page */
    padding: 0;
    margin: 0;
}

#left {
	position: fixed;
	left: 0px;
	width: 25%;
	height: 100%;
	background-color:#f2f2f2;

}

#right{
	background-color: white;
	position: fixed;
	right: 0px;
	width: 75%;
	height: 100%

}

#name{

	position: fixed;
	top: 20%;
	right:40%;
	left:40%;
	z-index: 10;

	color: black;


}

#des{
	position: fixed;
	height: 150px;
	width: 550px;
	top:40%;
	bottom: 40%;
	right:0px;
	background-color: #b300b3;
	color: white;

}

#desc{
	position: relative;
	top:40%;
	bottom:40%;
	text-align: center;
}

#sign{
	height: 40px;

	text-decoration: none;
	display: block;
	position: relative;
    padding: 0;
    margin: 0;
	width: 80px;
	left: 40%;
	right: 40%;
	top: 50%
}

#log{
	height: 40px;
	background-color: white;
	text-decoration: none;
	display: block;
	position: relative;
	padding: 0;
    margin: 0;
	width: 80px;
	left: 40%;
	right: 40%;
	top: 42%;
/*	bottom: 42%;*/

	
}

#sign-in{
/*	height: 40px;*/
	position: relative;
	text-align: center;
	top:42%;
	bottom:42%;
	background-color: white;
	text-decoration-line: none;
	text-decoration: none;
	
	
}

#sign-up{
	height: 30px;
	position: relative;
	text-align: center;
	top:40%;
	bottom:40%;
	background-color: white;	
	text-decoration-line: none;
	text-decoration: none;
}

#vert{
	position: relative;
	left:0px;
	width: 6px;
	height: 100%;
	
	background-color: #b300b3;
	opacity: 0.8;
}

#hor{
	position: fixed;
	left:0px;
	width: 100%;
	height: 6px;
	top:93%;
	
	background-color: #b300b3;
	opacity: 0.8;
}