<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>
<body>
	
<div id="left"> <!-- color-gray -->
	<a class="Button" href="/login" id="log"><center><p id="sign-in">sign in</p></center></a>
	<a class="Button" href="/adduser" id="sign"><center><p id="sign-up">sign up</p></center></a>
</div>
<div id="right"><!-- contains animation -white,and ? -->
	<div id='line'></div>
	<h1><center><p id="name">Name</p></center></h1>
	<div id="des"> <p id="desc">Description</p> </div> <!-- color purple -->

</div>
</body>
</html>