<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="../static/css/index.css">

</head>
<body>
	
<div id="left"> <!-- color-gray -->
	<a class="Button" href="/login" id="log"><center>sign in</center></a>
	<a class="Button" href="/adduser" id="sign"><center><!-- <p id="sign-up"> -->sign up<!-- </p> --></center></a>
</div>
<div id="right"><!-- contains animation -white,and ? -->
	<div id='vert'></div>
	
	<h1><center><div id="name">Songgustion</div></center></h1>
	<div id="des"> <p id="desc">Music Sharing Website</p> <img src="../static/des.png"></div> <!-- color purple -->

</div>
<div id="bottom">
	<div id="hor"></div>
</div>
</body>
</html>