<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	{% block head %} {% endblock %}
	{% block css %} <link rel="stylesheet" type="text/css" href="../static/css/signedinlayout.css">  {% endblock %}
<body>
{%block navbar%} 
    <!-- <ul style="list-style-type:none"> -->
    <div id="navbar">
    <!-- <div class="nav" id="home_button"> -->
	<a href="/" class="block" id="home_button"><div class="text">Home</div></a><!-- </div> -->
    <!-- <div id="random"> --><a href="/random_suggestions" class="block" id="random"><div class="text"><p>Random</p></div></a><!-- </div>  -->
    <!-- <div id="logout"> --><a href="/Logout" class="block" id="logout"><div class="text">Log Out</div></a><!-- </div> --> 

</div> 
<!-- </ul> -->
{%endblock%}	
{% block body %} {% endblock %}

</body>
</html>