{% extends 'signedInLayout.html' %}
{% block css%} <link rel="stylesheet" type="text/css" href="../static/css/user.css">
<link rel="stylesheet" type="text/css" href="../static/css/signedinlayout.css"> {% endblock%}
{% block body %}
	<div id="profile">
	<p id="name"><h1>{{user1.username}}</h1></p>
	<a class="Button" href="/addsong" id="add-song"><p id="add_song">Add a song</p></a>
<!-- 	<a class="Button" href="/Logout" id="log-out"><p id="log_out">Log Out</p></a> -->
	</div>

	<div id="playlist">
		<!-- loop that writes the songs and their info, using the database -->
	</div>

	<div id="gradient">
	{% for song in song_list%}
	<div class="name">{{song.name}}</div> <div class="artist">{{song.artist}}</div> <div class="album">{{song.album}}</div> <div class="year">{{song.year}}</div> <br><br>
	{%endfor%}
	</div>
{% endblock %}
